* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
span {
  display: block;
}

html,
body {
  color: #000;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  color: #000000;
}

body {
  background-color: #16a2dc;
  font-family: 'Arial';
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  direction: rtl;
  margin-top: 48px;
  padding-bottom: 30px;
  letter-spacing: 1px;
}

.image__block {
  margin-bottom: 64px;
}

.main__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  margin-bottom: 24px;
  color: #fff;
}

.wrapper {
  text-align: right;
  max-width: 730px;
  margin: 0 auto;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 20px;
  color: #fff;
}

.subtitle span {
  display: block;
}

.link {
  background: #fff;
  display: flex;
  justify-content: center;
  max-width: 350px;
  padding: 24px 0;
  border-radius: 8px;
  color: #16a2dc;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 64px;
}

a.link:visited {
  background: #fff;
  border-radius: 8px;
  padding: 24px 0;
  color: #16a2dc;
}

.wrapper {
  text-align: right;
}

.block {
  margin-bottom: 64px;
}

.wrapper .subtitle {
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 24px;
}

.wrapper .center {
  align-items: center;
}

.text {
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.question {
  color: #fff;
  margin-bottom: 24px;
}

.questions {
  text-align: right;
  margin-top: 20px;
}

.questions__item {
  margin-bottom: 24px;
}

.question__title {
  font-size: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 17px;
    padding-bottom: 8px;
  }

  .image__block {
    margin-bottom: 36px;
  }

  .main__title {
    font-size: 36px;
    line-height: 1.44;
    margin-bottom: 20px;
  }

  .center {
    font-size: 18px;
    line-height: 1.55;
  }

  .link {
    padding: 20px 0;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .block {
    margin-bottom: 48px;
  }
}
